.projects {
  &__wrapper {
    padding-top: rem(53);
    padding-bottom: rem(80);
    background-color: #f9f9f9;
    transition: opacity 0.3s ease-in;
    &--is-loading {
      opacity: 0;
    }
    @include media('<tablet') {
      padding-bottom: rem(50);
    }
    @include media('<phone') {
      padding-top: 0;
      background-color: #fff;
    }
  }
  &__inner {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    max-width: 1354px;
    margin: 0 auto rem(20);
    padding: 0 rem(15);
    @include media('<tablet') {
      margin-bottom: rem(25);
      padding: 0;
    }
  }
  &__item {
    position: relative;
    flex-basis: calc( (100% - 96px) / 4);
    margin-right: rem(12);
    margin-left: rem(12);
    margin-bottom: rem(60);
    padding: rem(12) rem(12) 0;
    background-color: #fff;
    transition: padding 0.25s, box-shadow 0.25s ease-in;
    transform: translateZ(0);
    backface-visibility: hidden;
    @include media('>tablet') {
      &:hover {
        box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.11);
      }
    }
    @include media('>desktop') {
      .chrome &:hover {
        padding: 0;
        .projects__descr {
          padding: rem(15) rem(25) rem(20);
        }
      }
    }
    @include media('<desktop') {
      flex-basis: calc( (100% - 76px) / 3);
      margin-bottom: rem(40);
    }
    @include media('<tablet') {
      max-width: none;
      flex-basis: calc( (100% - 48px) / 2);
    }
    @include media('<phone') {
      flex-basis: 100%;
      margin-right: 0;
      margin-left: 0;
      margin-bottom: 0;
      padding-bottom: rem(40);
    }
    &-inner {
      margin: rem(-12) rem(-12) 0;
      background-color: #fff;
      overflow: hidden;
      transform: translateZ(0);
      backface-visibility: hidden;
    }
    a {
      text-decoration: none;
    }
  }

  &__logo {
    img {
      max-width: 100%;
      vertical-align: middle;
    }
  }

  &__descr {
    padding: rem(20) rem(13) rem(20);
    color: #333;
    transition: padding 0.25s;
    @include media('<phone') {
      padding: rem(17) rem(15) 0;
    }
  }

  &__title {
    margin-bottom: rem(8);
    font-size: rem(22);
    font-weight: 500;
    a {
      color: inherit;
    }
  }

  &__txt {
    margin-bottom: 0;
    font-size: rem(16);
    font-weight: 300;
    line-height: 1.6;
    color: #5e5e5e;
  }

  &__tags {
    margin-top: rem(8);
  }

  &__tag {
    font-size: rem(13);
    display: inline-block;
    margin-right: rem(10);
    margin-bottom: 0;
    padding: 0;
    letter-spacing: 0.7px;
    border: 0;
    outline: 0;
    background-color: transparent;
    transition: opacity 0.25s;
    &:hover {
      opacity: 0.7;
      background-color: transparent;
    }
    &:first-of-type {
      color: $accent-color;
    }
    &:nth-of-type(2n) {
      color: #b5bc02;
    }
    &:nth-of-type(3n) {
      color: #f4784a;
    }
  }

  &__pagination {
    display: flex;
    justify-content: center;
    align-items: baseline;
    max-width: 300px;
    margin: 0 auto;
    button {
      outline: 0;
    }
  }

  &__prev,
  &__next {
    position: relative;
    padding: rem(4) 0 rem(3);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.7px;
    color: $accent-color;
    border: 0;
    background-color: transparent;
    transition: color 0.2s;
    &::after,
    &::before {
      position: relative;
      top: rem(2);
      font-family: 'icomoon' !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
    &:hover:not([disabled]) {
      color: darken($accent-color, 10%);
    }
    &[disabled] {
      opacity: 0.5;
      cursor: not-allowed;
      text-decoration: none;
    }
  }
  &__prev {
    margin-right: rem(15);
    padding-left: rem(15);
    &::before {
      content: "\e90e";
    }
  }
  &__next {
    margin-left: rem(15);
    padding-right: rem(15);
    &::after {
      content: "\e90d";
    }
  }

  &__page {
    width: rem(34);
    height: rem(34);
    margin: 0 rem(2);
    padding: 0;
    font-size: rem(16);
    font-weight: 400;
    color: #9a9a9a;
    border: 0;
    background-color: transparent;
    transition: color 0.25s;
    &:hover {
      color: #6aa2ff;
    }
    &--active {
      color: #6aa2ff;
      border: 1px solid #6aa2ff;
      border-radius: 3px;
      pointer-events: none;
      &:hover {
        text-decoration: none;
      }
    }
    @include media('<tablet') {
      width: rem(30);
      height: rem(30);
      font-size: rem(14);
    }
  }
}